@model List<Education>
@{
    ViewData["Title"] = "Index";
    int order = 0;
}

<div class="container-fluid">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <h1>Education:</h1>
        <a asp-controller="education" asp-action="Create" class="btn btn-primary">Create</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Title1</th>
                <th scope="col">Title2</th>
                <th scope="col">Description</th>
                <th scope="col">History</th>
                <th scope="col">GPA</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var education in Model)
            {
                order++;
                <tr>
                    <th scope="row">@order</th>
                    <td>@education.Title1</td>
                    <td>@education.Title2</td>
                    <td>@education.Desc</td>
                    <td>@education.History</td>
                    <td>@education.GPA</td>
                    <td>
                        <form method="post">
                            <a asp-action="Edit" asp-controller="education" asp-route-id="@education.Id" class="btn btn-warning">Edit</a>
                            <button type="submit" asp-action="delete" asp-controller="education" asp-route-id="@education.Id" class="btn btn-danger btn-sweet-delete">Delete</button>
                        </form>

                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


